#dashboard-sidebar {
    background: #253d4a;
    grid-area: sidebar;
    overflow-y: auto;
    display: fixed;
    height: 100vh;

    .dashboard-logo {
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .sidebar-icon {
            color: #fff;
            font-size: 20px;
            display: none;
        }
        img {
            width: 70%;
        }
    }
    .sidebar-menu {
        margin: 20px 0px 0px 20px;
        display: flex;
        flex-direction: column;

        .sidebar-link {
            margin: 8px 0;
            font-size: 18px;
            font-weight: 500;
            text-decoration: none;
            color: #fff;
            .sidebar-link-icon {
                margin-right: 5px;
            }
        }

        .sidebar-active {
            padding: 10px 0px 10px 10px;
            color: #ff9100;
            color: #71b100;

            background: #f3f4f6;

            border-radius: 15px 0px 0px 15px;
        }
    }
}

.sidebar-responsive {
    display: inline !important;
    z-index: 1000 !important;
    left: 0 !important;
    position: absolute;
}
@media only screen and(max-width: 978px) {
    #dashboard-sidebar {
        display: none;
        width: 50%;
        .dashboard-logo {
            .sidebar-icon {
                display: block;
            }
        }
    }
}
