.navbar {
    background:#253D4A;
    .loginButton {
       height: 50px;
       width: 100px;
       line-height: 25px;
       background-color: #71B100;
       color: white;
       padding: 10px 20px;
       text-decoration: none;
       border-radius: 5px;
       text-align: center;
       display: inline-block;
    }
    .nav-link {
        color:  #fff !important;
        padding: 15 0px;
        margin-right: 10px;
    }
    .navbar-brand {
        width: 130px;
        line-height: 25px;
        img {

        }
    }
}