.Service {
    background-color: #f4f9fd;
    .ServiceHeader {
        p {
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
        }
        h3 {
            font-size: 34px;
            line-height: 30px;
        }
    }
}
