.Discover {
    background-color: #F4F9FD;
    padding: 10px 0px;

    .DiscoverHeader {
        p {
            font-size: 16px;
            line-height: 24px;
            font-weight: 500;
            color:#253D4A;
        }
        h3 {
            font-size: 34px;
            line-height: 30px;
            font-weight: bold;
            color:#253D4A;
        }
    }
}