.dashboard-navbar {
    background: #ffffff;
    grid-area: nav;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px 0 30px;
    border-bottom: 1px solid lightgray;

    .dashboard-navbar-left {
        display: flex;
        align-items: center;
        .dashboard-nav-icon {
            display: none;
            padding-right: 20px;
        }
        h2 {
            color: #a5aaad;
            font-size: 30px;
            font-weight: 700;
        }
    }
}

@media only screen and(max-width:978px) {
    .dashboard-navbar {
        .dashboard-navbar-left {
            .dashboard-nav-icon {
                display: block;
            }
        }
    }
}

@media only screen and(max-width:480px) {
    .dashboard-navbar {
        .dashboard-navbar-left {
            .dashboard-nav-icon {
                display: block;
                padding-right: 10px;
            }
            h2 {
                font-size: 20px;
            }
        }
    }
}
